<nav class="navbar">
  <a href="#" class="logo">
    <i class="fas fa-graduation-cap"></i>ExamPlus
  </a>
  <div class="nav-links hidde-on-phone">
    <a class="hidde-on-phone" href="/">Accueil</a>
    <a class="hidde-on-phone" href="#features">Services</a>
    <a class="hidde-on-phone" href="#">À propos</a>
  </div>
  <div class="nav-buttons hidde-on-phone">
    <a href="/login" class="btn btn-outline hidde-on-phone" id="login">Connexion</a>
    <a href="/register" class="btn btn-primary hidde-on-phone" id="register">Inscription</a>
    <button class="dropDownn-toggle hidde-on-phone">
      <i class="fas fa-user"></i><i class="fa-solid fa-caret-down"></i>
    </button>
  </div>
  <button class="menu-toggle">
    <i class="fas fa-bars"></i>
  </button>
</nav>

<div class="dropdown-menu show hidde-on-phone">
  <a href="/auth/profile" id="profile">Profil</a>
  <a href="#" id="logout">Déconnexion</a>
</div>

<div class="sideBar">
  <div class="nav-links">
    <a href="/">Accueil</a>
    <a href="#features">Services</a>
    <a href="#">À propos</a>
    <button class="dropDownn-toggle dropDownn-toggle-sidebar">
      <i class="fas fa-user"></i><i class="fa-solid fa-caret-down"></i>
    </button>
    <div class="dropdown-menu-sideBar show">
      <a href="/auth/profile" id="profile">Profil</a>
      <a href="#" id="logout">Déconnexion</a>
    </div>
  </div>
  <div class="nav-buttons">
    <a href="/login" class="btn btn-outline" id="login">Connexion</a>
    <a href="/register" class="btn btn-primary" id="register">Inscription</a>
  </div>
  <button class="close-menu-Btn">
    X
  </button>
</div>
