<nav class="navbar">
    <a href="#" class="logo">
      <i class="fas fa-graduation-cap"></i>Exam-Platform
    </a>
    <div class="nav-links hidde-on-phone">
      <a class="hidde-on-phone" href="/">Home</a>
      <a class="hidde-on-phone" href="#features">Services</a>
      <a class="hidde-on-phone" href="#">About</a>
    </div>
    <div class="nav-buttons hidde-on-phone">
      <a href="/login" class="btn btn-outline hidde-on-phone" id="login">Login</a>
      <a href="/register" class="btn btn-primary hidde-on-phone" id="register">Register</a>
     <button class="dropDownn-toggle hidde-on-phone">
      <i class="fas fa-user"></i><i class="fa-solid fa-caret-down"></i>
     </button>
    </div>
    <button class="menu-toggle">
      <i class="fas fa-bars"></i>
    </button>
  </nav>
  <div class="dropdown-menu show hidde-on-phone">
    <a href="/auth/profile" id="profile">Profile</a>
    <a href="#" id="logout">Logout</a>
  </div>
  
  <!-- Sidebar version -->
  <div class="sideBar">
    <div class="nav-links">
      <a href="#">Home</a>
      <a href="#features">Sevices</a>
      <a href="#">About</a>
      <button class="dropDownn-toggle dropDownn-toggle-sidebar">
        <i class="fas fa-user"></i><i class="fa-solid fa-caret-down"></i>
       </button>
       <div class="dropdown-menu-sideBar show">
        <a href="/auth/profile" id="profile">Profile</a>
        <a href="#" id="logout">Logout</a>
      </div>
    </div>
    <div class="nav-buttons">
      <a href="/login" class="btn btn-outline" id="login">Login</a>
      <a href="/register" class="btn btn-primary" id="register">Register</a>
    </div>
    <button class="close-menu-Btn">
      X
    </button>
  </div>

  