<nav class="navbar">
    <a href="#" class="logo">
        <i class="fas fa-graduation-cap"></i>Exam-Platform
    </a>
    <div class="nav-links hidde-on-phone">
        <a class="hidde-on-phone" href="/">Home</a>
        <a class="hidde-on-phone" href="#features">Features</a>
        <a  class="hidde-on-phone" href="#">About</a>
    </div>
    <div class="nav-buttons hidde-on-phone">
        <a  href="/login" class="btn btn-outline hidde-on-phone">Login</a>
        <a href="/register" class="btn btn-primary hidde-on-phone">Register</a>
    </div>
    <button class="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>
</nav>
<div class="sideBar">
    <div class="nav-links ">
        <a href="#">Home</a>
        <a href="#features">Features</a>
        <a  href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="nav-buttons ">
        <a  href="/login" class="btn btn-outline ">Login</a>
        <a href="/register" class="btn btn-primary ">Register</a>
    </div>
    <button class="close-menu-Btn">
        X
    </button>
</div>