<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Page d'accueil</title>
  <link rel="stylesheet" href="/css/student/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="welcome-section">
      <h2>Bienvenue, <%- user.Fname %> <%- user.Lname %> 👋 </h2>
    </div>
  </div>
  <div class="examLink">
    <input type="text" placeholder="Entrez le lien de l'examen">
    <button id="takeExamBtn">Passer</button>
  </div>
  <div class="dashboard-container">
    <div class="chart-row">
      <div class="chart-card">
        <canvas id="highestChart"></canvas>
        <p class="chart-label">Plus élevé</p>
      </div>
      <div class="chart-card">
        <canvas id="lowestChart"></canvas>
        <p class="chart-label">Plus bas</p>
      </div>
      <div class="chart-card">
        <canvas id="meanChart"></canvas>
        <p class="chart-label">Moyenne</p>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Titre de l'examen</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody id="exam-table-body">
      </tbody>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="/js/student/dashboard.js"></script>
  <script>
    function takeExam(){
      const link = document.querySelector('.examLink input').value;
      if(link) {
        location.href = link;
      }
    }
    document.getElementById('takeExamBtn').addEventListener('click', takeExam);
    document.querySelector('.examLink input').addEventListener('keyup', (e) => {
      if(e.code === 'Enter') {
        takeExam();
      }
    });
  </script>
</body>
</html>
