<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/student/takeExam.css">
</head>
<body>
    <div class="start-screen">
        <button id="start-btn" data-accessToken="<%= examMetaData.accessToken %>">Start Quiz</button>


    </div>


    <div class="exam-header">
        <h1><%- examMetaData.title %></h1>
        <p><%- examMetaData.description %></p>
    </div>

    <div id="display-container" class="hide">
        <div class="number-of-question"></div>
        <div class="time-left">Time: 10s</div>
        <div id="container"></div>
        <button id="next-button">Next</button>
    </div>

    <div class="score-container hide">
        <p id="user-score"></p>
    </div>

    <script src="/js/student/takeexam.js"></script>
</body>
</html>
