<h2>WHERE STUDENT WILL TAKE THE EXAM</h2>

<button id="start-btn" data-accesToken="<%- examMetaData.accessToken %>">Start</button>
<h1><%- examMetaData.title %></h1>
<p><%- examMetaData.duration %></p>